// // init setting
@import "../core/_setting.scss";
// // reset css
@import "../core/_reset.scss";
@import "../core/_css3";
@import "../core/_mixin";
@import "../core/_media_queries";
html,
body {
    height: 100%;
    background-color: white;
    width: 100%;
    overflow: hidden;
}

html {
    background: -webkit-radial-gradient(100% 200% ellipse, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.32));
    background: radial-gradient(100% 200% ellipse, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.32));
}

body {
    margin: 0 auto;
    background: none;
    position: relative;
}

.intro-container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: relative;
}

// 首页
// 笔画
$width: 40%;
.page1,
.page2,
.page3,
.page4,
.page4-1 {
    margin: 0 auto;
}

.page4-1 {
    position: relative;
}

.page1 {
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5;
    opacity: 1;
    .page1-1 {
        &.end {
            transform: scale(2);
            opacity: 0;
        }
        position: absolute;
        opacity: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all ease-out 0.5s;
        -webkit-transition: all ease-out 0.5;
        img {
            position: absolute;
            width: $width;
            margin-top: -$width/2;
            margin-bottom: -$width/2;
            margin-left: -$width;
            left: 50%;
            top: 50%;
            fill: black;
            -webkit-filter: drop-shadow(0 0 0.22222rem rgba(0, 0, 0, 0.3));
            filter: drop-shadow(0 0 0.22222rem rgba(0, 0, 0, 0.3));
            transition: all ease-out 1.5s;
            -webkit-transition: all ease-out 1.5s;
            pointer-events: none;
        }
        .intro-svg-wrap8-3 {
            top: auto;
            bottom: 50%;
        }
    } // 首页右侧logo
    .page1-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $width;
        margin-top: -$width/4;
        opacity: 1;
        transition: all 0.5s ease-in;
    }
    .page1-3 {
        display: none;
        opacity: 0;
        transition: all 0.2s linear; // -webkit-transition: all ease-out 0.1s;
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
        width: 100%;
        &.show {
            transform: scale(1);
            opacity: 1;
        }
        &.end {
            transform: scale(5);
            opacity: 0;
            top: 140%;
            left: -25%;
            .image-2 {
                width: 5%;
                position: absolute;
                top: 19%;
                left: 53%;
                opacity: 0;
                display: none;
            }
        }
        img {
            width: $width;
            cursor: pointer;
            transition: all 0.5s ease-in;
            opacity: 1;
        }
        .image-1 {
            width: 40%;
            top: 18%;
            left: 13%;
            position: absolute;
        }
        .image-2 {
            width: 5%;
            position: absolute;
            top: 19%;
            left: 53%;
            transition: all 0.2s ease-in;
        }
        .image-3 {
            width: 28.8%;
            position: absolute;
            top: 25.5%;
            left: 6.4%;
        }
        .image-4 {
            width: 12.5%;
            position: absolute;
            top: 26.8%;
            left: 42%;
        }
        .image-5 {
            width: 19.5%;
            position: absolute;
            top: 33%;
            left: 53%;
        }
        .image-6 {
            width: 24.6%;
            position: absolute;
            top: 21.5%;
            left: 73.5%;
        }
    }
}

.page1.active {
    .page1-1 {
        .intro-svg-wrap1-1 {
            top: 19%;
            left: 134%;
            transform: scale(1.25);
        }
        .intro-svg-wrap1-2 {
            top: 26.34%;
            left: 70%;
            transform: rotateX(0deg) rotateY(0deg) scaleX(2.2) scaleY(1.5);
            z-index: 10;
        }
        .intro-svg-wrap2-1 {
            top: 44.5%;
            left: 36%;
            transform: rotateZ(180deg) rotateY(0deg) scale(1.3);
        }
        .intro-svg-wrap2-2 {
            top: -11%;
            left: 40%;
            transform: rotateX(180deg) rotateY(180deg) scale(3.5);
        }
        .intro-svg-wrap3-1 {
            left: 28.9%;
            top: 64.2%;
            z-index: 10;
            transform: rotateX(0deg) rotateY(0deg) scale(1.3);
        }
        .intro-svg-wrap3-2 {
            left: 118%;
            top: 139%;
            transform: rotateY(180deg) scale(3);
        }
        .intro-svg-wrap4 {
            top: 37%;
            left: 16%;
            transform: scaleX(4.5) scaleY(3);
        }
        .intro-svg-wrap5-1 {
            top: 62.2%;
            left: 39%;
            z-index: 10;
            transform: scaleX(1.2) scaleY(1);
        }
        .intro-svg-wrap5-2 {
            top: 88%;
            left: 112%;
            transform: rotateY(180deg);
            z-index: 10;
        }
        .intro-svg-wrap6-1 {
            top: 71.3%;
            transform: rotateZ(90deg) scale(1.3);
            left: 30%;
        }
        .intro-svg-wrap6-2 {
            top: 55.4%;
            left: 89.5%;
            transform: rotateZ(90deg) scale(1.3);
            z-index: 10;
            -webkit-filter: blur(0.5px);
            -moz-filter: blur(0.5px);
            -ms-filter: blur(0.5px);
            filter: blur(0.5px);
        }
        .intro-svg-wrap7-1 {
            top: 18%;
            left: 60%;
        }
        .intro-svg-wrap7-2 {
            top: 42.8%;
            left: 75%;
            transform: scaleX(1.8);
            z-index: 10;
        }
        .intro-svg-wrap8-1 {
            top: 17.4%;
            left: 83%;
            transform: scale(1.3);
        }
        .intro-svg-wrap8-2 {
            top: 66%;
            left: 113%;
            transform: rotateZ(180deg) scale(1.3);
            z-index: 10;
        }
        .intro-svg-wrap8-3 {
            transform: rotateX(180deg) scale(3.6);
            left: 35.2%;
            bottom: 14.5%;
            z-index: 10;
            -webkit-filter: blur(0.8px);
            -moz-filter: blur(0.8px);
            -ms-filter: blur(0.8px);
            filter: blur(0.8px);
        }
        .intro-svg-wrap8-4 {
            transform: scale(4) rotate(180deg);
            top: 113%;
            left: 58%;
            -webkit-filter: blur(1px);
            -moz-filter: blur(1px);
            -ms-filter: blur(1px);
            filter: blur(1px);
        }
        .intro-svg-wrap9 {
            top: 9.8%;
            left: 67.5%;
            transform: rotateZ(90deg) SCALE(1.4);
        }
        .intro-svg-wrap10 {
            top: 51.5%;
            left: 70.5%;
            transform: SCALE(1.3);
            z-index: 10;
        }
        .intro-svg-wrap11 {
            transform: SCALE(1.3);
            top: 8.4%;
            left: 28.8%;
        }
        .intro-svg-wrap12 {
            top: 21%;
            left: 70.6%;
            transform: SCALE(1.3);
        }
        .intro-svg-wrap13 {
            top: 50.3%;
            left: 112%;
            transform: rotateY(180deg) SCALE(1.3);
        }
    }
    .page1-2 {
        opacity: 0;
    }
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.intro-container-page2,
.intro-container-page3,
.intro-container-page4,
.intro-container-page5 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0 auto; // overflow: hidden;
    top: 0;
    opacity: 1;
    left: 0;
    transform: scale(1);
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.intro-container-page3.start {
    display: block; // 
    top: -39%;
    transform: scale(0.1);
    left: 0%;
    opacity: 0;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.intro-container-page3.end {
    transform: scale(5);
    opacity: 0; // top: -100%;
}

.intro-container-page4.start {
    transform: scale(0.1);
    display: block;
    opacity: 0;
}

.intro-container-page4.end {
    transform: scale(1);
    opacity: 1;
}

.intro-main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: per(1158, 1862);
    height: rem(516, 36);
    margin: rem(-258, 36) 0 0 per(-663, 1862);
    padding-left: per(168, 1862);
}

.intro-text-wrap {
    position: relative;
    width: per(667, 1158);
    height: rem(378, 36);
}

.intro-svg-wrap {
    position: absolute; // top: per(-64, 667); // top: rem(-37,36);
    top: 0;
    left: per(-25, 667);
    width: per(655, 667);
    fill: black;
    -webkit-filter: drop-shadow(0 0 rem(8, 36) rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 0 rem(8, 36) rgba(0, 0, 0, 0.3));
    -webkit-transition: all ease-out 1.5s 0.5s;
    transition: all ease-out 1.5s 0.5s;
    pointer-events: none;
}

.intro-eng-wrap {
    width: per(491, 1158);
    margin-top: rem(77, 36);
}

.intro-people-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; // z-index: 1;
    opacity: 0;
    -webkit-transition: all ease-in-out 0.5s 2s;
    transition: all ease-in-out 0.5s 2s;
}

.intro-opacity-wrap {
    opacity: 0;
    -webkit-transition: all linear 1.5s 2s;
    transition: all linear 1.5s 2s;
}

// animation
// .intro-svg-wrap1-2, .intro-svg-wrap2-2, .intro-svg-wrap3-2, .intro-svg-wrap5-2, .intro-svg-wrap6-2, .intro-svg-wrap7-2 {
//     display: none;
// }
.intro-spread-main .intro-eng-wrap {
    opacity: 0;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.intro-spread-main {
    .intro-people-block {
        // z-index: 1;
        opacity: 1;
    }
    .intro-svg-wrap1-1 {
        top: rem(-400, 36); // top: per(-650,667);
        left: per(1282, 667);
    }
    .intro-svg-wrap1-2 {
        // display: block;
        -webkit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
        z-index: 3;
    }
    .intro-svg-wrap2-1 {
        top: rem(-80, 36); // top: per(-133,667);
        left: per(-525, 667);
        -webkit-transform: scale(1.2, 1.2) rotate(180deg);
        transform: scale(1.2, 1.2) rotate(180deg);
    }
    .intro-svg-wrap2-2 {
        display: none; // top: rem(-1000,36);
        // left: per(-1000,667);
        // -webkit-transform: scale(3,3) rotate(180deg);
        // transform: scale(3,3) rotate(180deg);
    }
    .intro-svg-wrap3-1 {
        top: rem(110, 36);
        left: per(-625, 667);
    }
    .intro-svg-wrap3-2 {
        display: none;
    }
    .intro-svg-wrap4 {
        top: rem(-280, 36);
        left: per(-50, 667);
    }
    .intro-svg-wrap5-1 {
        top: rem(110, 36);
        left: per(-480, 667);
    }
    .intro-svg-wrap5-2 {
        display: block;
        top: rem(345, 36);
        left: per(880, 667);
        -webkit-transform: scaleX(1.5) rotateY(180deg);
        transform: scaleX(1.5) rotateY(180deg);
        z-index: 3;
    }
    .intro-svg-wrap6-1 {
        top: rem(180, 36);
        left: per(-540, 667);
        -webkit-transform: scaleX(1.2) rotate(90deg);
        transform: scaleX(1.2) rotate(90deg);
        z-index: 3;
    }
    .intro-svg-wrap6-2 {
        display: block;
        top: rem(85, 36);
        left: per(480, 667);
        -webkit-transform: scale(1.5, 1.3) rotate(90deg);
        transform: scale(1.5, 1.3) rotate(90deg);
        z-index: 3;
    }
    .intro-svg-wrap7-1 {
        top: rem(-260, 36);
        left: per(-560, 667);
        -webkit-transform: scaleX(1.2);
        transform: scaleX(1.2);
    }
    .intro-svg-wrap7-2 {
        display: none;
    }
    .intro-svg-wrap8-1 {
        top: rem(-380, 36);
        left: per(380, 667);
        -webkit-transform: scaleX(1.2);
        transform: scaleX(1.2);
    }
    .intro-svg-wrap8-2 {
        top: rem(290, 36);
        left: per(-600, 667);
        -webkit-transform: rotateX(180deg) scale(2);
        transform: rotateX(180deg) scale(2);
        z-index: 3; // -webkit-filter: blur(1px);
        /* Chrome, Opera */
        // -moz-filter: blur(1px);
        // -ms-filter: blur(1px);
        // filter: blur(1px);
    }
    .intro-svg-wrap8-3 {
        display: none;
    }
    .intro-svg-wrap8-4 {
        top: rem(220, 36);
        left: per(920, 667);
        -webkit-transform: scaleX(1.2) rotate(180deg);
        transform: scaleX(1.2) rotate(180deg);
        z-index: 3;
    }
    .intro-svg-wrap9 {
        top: rem(-490, 36);
        left: per(-100, 667);
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
    .intro-svg-wrap10-1 {
        top: rem(90, 36);
        left: per(180, 667);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        z-index: 3;
    }
    .intro-svg-wrap10-2 {
        display: none;
    }
    .intro-svg-wrap11 {
        top: rem(-445, 36);
        left: per(-600, 667);
    }
    .intro-svg-wrap12 {
        top: rem(-260, 36);
        left: per(230, 667);
    }
    .intro-svg-wrap13 {
        top: rem(-240, 36);
        left: per(250, 667);
    }
    .intro-together-block {
        position: absolute;
        top: rem(-120, 36);
        left: per(100, 1158);
        opacity: 1;
        z-index: 4;
    }
    .intro-together-wrap {
        width: per(530, 1158);
    }
    .intro-circle-wrap {
        width: per(80, 1158);
    }
    .intro-people-wrap1 {
        position: absolute;
        top: rem(-50, 36);
        left: per(-150, 1158);
        width: per(350, 1158);
        opacity: 1;
        z-index: 2;
    }
    .intro-people-wrap2 {
        position: absolute;
        top: rem(-50, 36);
        left: per(400, 1158);
        width: per(200, 1158);
        opacity: 1;
    }
    .intro-people-wrap3 {
        position: absolute;
        top: rem(50, 36);
        left: per(600, 1158);
        width: per(300, 1158);
        opacity: 1;
    }
    .intro-people-wrap4 {
        position: absolute;
        top: rem(-100, 36);
        left: per(930, 1158);
        width: per(380, 1158);
        opacity: 1;
        z-index: 2;
    }
}

// intro page
.intro-intro-wrap {
    width: 100%;
    height: 100%;
}

.intro-intro-people {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.intro-intro-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .intro-intro-shadow {
        display: none;
    }
}

.intro-intro-people1 {
    .intro-intro-title {
        position: absolute;
        top: rem(613, 36);
        left: per(168, 4000);
        width: per(475, 4000);
    }
}

.intro-intro-people2 {
    .intro-intro-img {
        left: per(633, 4000);
        width: per(3020, 4000);
    }
    .intro-intro-title {
        position: absolute;
        top: rem(278, 36);
        right: per(217, 4000);
        width: per(475, 4000);
    }
}

.intro-intro-people3 {
    .intro-intro-img {
        left: initial;
        right: 0;
        width: per(3116, 4000);
    }
    .intro-intro-title {
        position: absolute;
        top: rem(378, 36);
        right: per(280, 4000);
        width: per(475, 4000);
    }
}

.intro-intro-people4 {
    .intro-intro-img {
        left: initial;
        right: 0;
        width: per(3849, 4000);
    }
    .intro-intro-title {
        position: absolute;
        top: rem(378, 36);
        right: per(900, 4000);
        width: per(475, 4000);
    }
}

// icon page
.intro-icon-wrap {
    width: 100%;
    height: 100%;
}

.intro-icon-main {
    position: relative;
    width: per(1416, 1862);
    margin: rem(502, 36) auto 0;
}

.intro-icon-btn {
    display: block;
    position: absolute;
    top: rem(-253, 36);
    left: per(599, 1416);
    width: per(341, 1416);
}

.intro-icon-tImg {
    width: per(1113, 1416);
}

.intro-icon-bImg {
    width: per(867, 1416);
    margin-left: per(299, 1416);
}

// select page
.intro-select-wrap {
    width: 100%;
    height: 100%;
}

.intro-select-main {
    width: per(1658, 1862);
    padding-left: per(63, 1862);
    margin: rem(468, 36) auto 0;
}

.intro-select-movie {
    width: per(415, 1658);
    margin-right: per(79, 1658);
}

.intro-select-exhibition {
    width: per(390, 1658);
    margin-right: per(21, 1658);
}

.intro-select-game {
    width: per(347, 1658);
    margin-right: per(41, 1658);
}

.intro-select-gift {
    width: per(299, 1658);
}

// letter page
.intro-letter-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.intro-letter-block {
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0; // -webkit-transition: opacity ease-in-out 0.5s;
    // transition: opacity ease-in-out 0.5;
}

.intro-letter-describe,
.intro-letter-name,
.intro-letter-img {
    position: absolute;
}



// .intro-letter-opacity {
//     opacity: 1;
// }
.intro-letter-wrap1 {
    .intro-letter-describe {
        top: rem(314, 36);
        left: per(171, 1862);
        width: per(680, 1862);
    }
    .intro-letter-name {
        top: rem(466, 36);
        left: per(193, 1862);
        width: per(419, 1862);
    }
    .intro-letter-img {
        bottom: 0;
        right: 0;
        width: per(1032, 1862);
    }
}

.intro-letter-wrap2 {
    .intro-letter-describe {
        top: rem(317, 36);
        left: per(384, 1862);
        width: per(890, 1862);
    }
    .intro-letter-name {
        top: rem(466, 36);
        left: per(690, 1862);
        width: per(390, 1862);
    }
    .intro-letter-img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../../images/letter/letter2-img.png) no-repeat center center;
        background-size: cover;
    }
}

.intro-letter-wrap3 {
    .intro-letter-describe {
        top: rem(315, 36);
        left: per(1032, 1862);
        width: per(762, 1862);
    }
    .intro-letter-name {
        top: rem(489, 36);
        left: per(1102, 1862);
        width: per(347, 1862);
    }
    .intro-letter-img {
        top: 0;
        left: 0;
        width: per(1348, 1862);
    }
}

.intro-letter-wrap4 {
    .intro-letter-describe {
        top: rem(317, 36);
        left: per(1070, 1862);
        width: per(686, 1862);
    }
    .intro-letter-name {
        top: rem(488, 36);
        left: per(1490, 1862);
        width: per(299, 1862);
    }
    .intro-letter-img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../../images/letter/letter4-img.png) no-repeat center center;
        background-size: cover;
    }
}

// last page
.intro-last-page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: per(672, 1862);
    height: rem(195, 36);
    margin: rem(-97, 36) 0 0 per(-336, 1862);
    padding-left: per(50, 1862);
    .intro-text-wrap {
        width: per(255, 672);
        height: rem(195, 36);
    }
    .intro-eng-wrap {
        width: per(185, 672);
        margin-top: rem(53, 36);
    }
    .intro-contact-btn {
        display: block;
        width: per(87, 672);
        margin-top: rem(50, 36);
    }
}

@include min-screen(1280px) {
    html {
        font-size: 36px;
    }
    .intro-eng-wrap {
        margin-top: rem(147, 36);
    }
}

@include max-screen(1280px) {
    html {
        font-size: 32px;
    }
    .intro-eng-wrap {
        margin-top: rem(127, 36);
    }
    .intro-icon-btn {
        top: rem(-203, 36);
    }
}

@include max-screen(1000px) {
    html {
        font-size: 28px;
    }
    .intro-eng-wrap {
        margin-top: rem(107, 36);
    }
    .intro-icon-btn {
        top: rem(-163, 36);
    }
}

@include max-screen(750px) {
    html {
        font-size: 22px;
    }
    .intro-eng-wrap {
        margin-top: rem(97, 36);
    }
    .intro-letter-ltxt {
        margin: rem(700, 36) 0 0 per(100, 1862);
    }
    .intro-letter-rimg {
        margin-top: rem(450, 36);
    }
}

@include max-screen(640px) {
    html {
        font-size: 20px;
    }
    .intro-eng-wrap {
        margin-top: rem(77, 36);
    }
}

@include max-screen(480px) {
    html {
        font-size: 12px;
    }
    .intro-eng-wrap {
        margin-top: rem(97, 36);
    }
    .intro-spread-main {
        .intro-svg-wrap2-1 {
            top: per(-115, 667);
            left: per(-525, 667);
        }
        .intro-svg-wrap2-2 {
            display: block;
            top: rem(-800, 36);
            left: per(-150, 667);
            -webkit-transform: scale(3, 3) rotate(180deg);
            transform: scale(3, 3) rotate(180deg);
        }
        .intro-svg-wrap3-2 {
            display: block;
            top: rem(1010, 36);
            left: per(1100, 667);
            -webkit-transform: scale(3, 3) rotateY(180deg);
            transform: scale(3, 3) rotateY(180deg);
        }
        .intro-svg-wrap7-1 {
            top: rem(-260, 36);
            left: per(-540, 667);
        }
        .intro-svg-wrap7-2 {
            display: block;
            top: rem(-660, 36);
            left: per(-660, 667);
            -webkit-transform: scaleX(2);
            transform: scaleX(2);
        }
        .intro-svg-wrap8-3 {
            display: block;
            top: rem(1000, 36);
            left: per(-300, 667);
            -webkit-transform: rotate(-180deg) scale(4, 5);
            transform: rotate(-180deg) scale(4, 5); // -webkit-filter: blur(1px);
            // filter: blur(1px);
        }
        .intro-svg-wrap9 {
            top: rem(-460, 36);
        }
        .intro-svg-wrap10-2 {
            display: block;
            top: rem(-1300, 36);
            left: per(-1100, 667);
            -webkit-transform: scale(3);
            transform: scale(3);
        }
    }
    .intro-letter-ltxt {
        margin: rem(900, 36) 0 0 per(100, 1862);
    }
    .intro-letter-rimg {
        margin-top: rem(700, 36);
    }
    .intro-letter-wrap1 {
        .intro-letter-describe {
            width: per(1400, 1862);
        }
        .intro-letter-name {
            top: rem(500, 36);
            width: per(1000, 1862);
        }
        .intro-letter-img {
            width: per(1432, 1862);
        }
    }
    .intro-letter-wrap2 {
        .intro-letter-describe {
            top: rem(400, 36);
            left: per(184, 1862);
            width: per(1500, 1862);
        }
        .intro-letter-name {
            top: rem(600, 36);
            left: per(390, 1862);
            width: per(1200, 1862);
        }
    }
    .intro-letter-wrap3 {
        .intro-letter-describe {
            top: rem(1050, 36);
            left: per(632, 1862);
            width: per(1100, 1862);
        }
        .intro-letter-name {
            top: rem(1150, 36);
            left: per(900, 1862);
            width: per(600, 1862);
        }
        .intro-letter-img {
            width: per(1862, 1862);
        }
    }
    .intro-letter-wrap4 {
        .intro-letter-describe {
            top: rem(250, 36);
            left: per(570, 1862);
            width: per(1186, 1862);
        }
        .intro-letter-name {
            top: rem(388, 36);
            left: per(1190, 1862);
            width: per(500, 1862);
        }
    }
    .intro-icon-main {
        margin: rem(902, 36) auto 0;
    }
    .intro-icon-btn {
        top: rem(-183, 36);
    }
    .intro-select-main {
        margin: rem(820, 36) auto 0;
    }
    .intro-intro-people1 {
        .intro-intro-img {
            position: relative;
            top: rem(575, 36);
            .intro-intro-shadow {
                display: block;
                position: absolute;
                bottom: 0;
                left: per(257, 1500);
                width: per(225, 1500);
                height: rem(100, 36);
                background: rgba(225, 225, 225, .5);
                background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5));
            }
        }
        .intro-intro-title {
            top: rem(1413, 36);
            left: per(686, 1500);
            width: per(667, 1500);
        }
    }
    .intro-intro-people2 {
        .intro-intro-img {
            position: relative;
            left: 0;
            top: rem(575, 36);
            width: per(4000, 4000);
            .intro-intro-shadow {
                display: block;
                position: absolute;
                bottom: 0;
                right: per(100, 1500);
                width: per(700, 1500);
                height: rem(100, 36);
                background: rgba(225, 225, 225, .5);
                background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5));
            }
        }
        .intro-intro-title {
            top: rem(178, 36);
            right: per(750, 1500);
            width: per(667, 1500);
        }
    }
    .intro-intro-people3 {
        .intro-intro-img {
            position: relative;
            top: rem(375, 36);
            width: 100%;
        }
        .intro-intro-title {
            top: rem(1413, 36);
            left: per(686, 1500);
            width: per(667, 1500);
        }
    }
    .intro-intro-people4 {
        .intro-intro-img {
            position: relative;
            top: rem(375, 36);
            width: 100%;
        }
        .intro-intro-title {
            top: rem(1250, 36);
            left: per(130, 1500);
            width: per(667, 1500);
        }
    }
}

@include max-screen(384px) {
    html {
        font-size: 12px;
    }
}

@include max-screen(320px) {
    html {
        font-size: 10px;
    }
    .intro-spread-main {
        .intro-svg-wrap2-2 {
            display: block;
            top: rem(-600, 36);
        }
        .intro-svg-wrap7-1 {
            top: rem(-260, 36);
            left: per(-540, 667);
        }
        .intro-svg-wrap7-2 {
            top: rem(-460, 36);
        }
        .intro-svg-wrap8-3 {
            top: rem(900, 36);
        }
        .intro-svg-wrap9 {
            top: rem(-425, 36);
        }
        .intro-svg-wrap10-2 {
            top: rem(-940, 36);
        }
    }
    .intro-letter-wrap3 {
        .intro-letter-describe {
            top: rem(850, 36);
        }
        .intro-letter-name {
            top: rem(950, 36);
        }
    }
    .intro-letter-wrap4 {
        .intro-letter-describe {
            top: rem(180, 36);
        }
        .intro-letter-name {
            top: rem(288, 36);
        }
    }
    .intro-icon-main {
        margin: rem(802, 36) auto 0;
    }
    .intro-icon-btn {
        top: rem(-153, 36);
    }
    .intro-select-main {
        margin: rem(720, 36) auto 0;
    }
    .intro-intro-people1 {
        .intro-intro-img {
            top: rem(450, 36);
        }
        .intro-intro-title {
            top: rem(1113, 36);
        }
    }
    .intro-intro-people3 {
        .intro-intro-img {
            top: rem(400, 36);
        }
        .intro-intro-title {
            top: rem(1113, 36);
        }
    }
    .intro-intro-people4 {
        .intro-intro-title {
            top: rem(1050, 36);
        }
    }
}